*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'tron';
    src: url('/fonts/TRON.TTF');
}
body{
    overflow:hidden ;
}
nav{
  width:100vw;
  /* height: 10vh; */
  /* background: white; */
  position: fixed;
  top:-20%;
  /* color:black; */
  z-index: 100;
  transition: .5s ease;
}
nav.active{
top:0;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:.5rem 0;
}
nav ul li{
  display: inline;
  margin: auto 15px;
}
nav a{
  text-decoration: none;
  color:white;
  font-size:1.2rem;
}
.test{
    width:0;
    height: 0;
    background-color: transparent;
    transition: .5s ease;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.test.active{
    width:90vh;
    height: 50vh;
    background-color: blue;
    top:15%;
    left:50%;
    transform: translate(-50%,-15%);
}
.text-t{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: black;
}
h1{
    /* position: absolute; */
    font-family: 'tron';
    color:white;

}
.holder{
    font-family: 'tron';
    position: absolute;
    top:0;
    left:0;
color:white;
margin:auto;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.holder>div{
    width:50%;
    height: 50%;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;
}
.holder>div.active{
    opacity: 1;
    pointer-events: all;
}
.Akina,.silver,.bubble,.seekloc,.hiro,.antipode{
        width:50%;
    height: 50%;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;

}
.akina.active,.silver.active,.bubble.active,.hiro.active,.antipode.active{
 opacity: 1;
    pointer-events: all;
}
